.photo-input{
    background-color: rgb(0, 0, 0);
    border-width: 1px;
    border-color: rgb(131, 132, 133);
    border-style: outset;
    margin-left: 10px;
    border-radius: 5px;
    
}

.photo-input2{
    background-color: rgb(0, 0, 0);
    border-width: 1px;
    border-color: rgb(131, 132, 133);
    border-style: outset;
    margin-left: 10px;
    border-radius: 5px;
    height: 400px;
    width: 520px;
}
.photo-input input, .photo-input2 input{
    color: black;
    margin-left: 260px;
    margin-top: 100px;
}
button{
    background-color: blue;
    border: none;
    width: 90px;
}
.photo{
    margin-left: 50px;
}